Meteo.json
[
    {
        "id": "393f3a42.2de4e6",
        "type": "tab",
        "label": "Meteo_Advanced (Es. 2)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2b0ea29.4fb0a8",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "InputPayload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 350.2222137451172,
        "y": 52.777780532836914,
        "wires": []
    },
    {
        "id": "e24ee86b.d2a248",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Rimappa",
        "rules": [
            {
                "t": "set",
                "p": "location.country",
                "pt": "msg",
                "to": "payload.country",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "location.city",
                "pt": "msg",
                "to": "payload.city",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.country",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.city",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 383.11096572875977,
        "y": 125.11109161376953,
        "wires": [
            [
                "aba5e07e.46c0a",
                "4b49f86f.1ddcb8"
            ]
        ]
    },
    {
        "id": "aba5e07e.46c0a",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "MappedInput",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 569.0000228881836,
        "y": 53.000003814697266,
        "wires": []
    },
    {
        "id": "5661be29.19465",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "Forecast",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 917.9999923706055,
        "y": 104.99999809265137,
        "wires": []
    },
    {
        "id": "aa6b817f.ece4f",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Descrizione",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.description",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1018.0000305175781,
        "y": 226.99997901916504,
        "wires": [
            [
                "fc9910dc.ff33",
                "9c53256e.46bae8"
            ]
        ]
    },
    {
        "id": "fc9910dc.ff33",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "SampeForecastaData",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1173.9999923706055,
        "y": 151.99998664855957,
        "wires": []
    },
    {
        "id": "9e262e49.f1fd8",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1022.0000305175781,
        "y": 286.9999942779541,
        "wires": [
            [
                "47aa180e.247e38"
            ]
        ]
    },
    {
        "id": "36dbd5b9.2ac22a",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.windspeed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020.9999923706055,
        "y": 402.99998664855957,
        "wires": [
            [
                "2ff05577.25224a"
            ]
        ]
    },
    {
        "id": "983b032c.d0902",
        "type": "ui_form",
        "z": "393f3a42.2de4e6",
        "name": "",
        "label": "Meteo",
        "group": "de37c9db.acf788",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nazione (in inglese)",
                "value": "country",
                "type": "text",
                "required": true
            },
            {
                "label": "Città",
                "value": "city",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "country": "",
            "city": ""
        },
        "payload": "",
        "submit": "richiedi",
        "cancel": "cancel",
        "topic": "",
        "x": 179,
        "y": 93,
        "wires": [
            [
                "b2b0ea29.4fb0a8",
                "e24ee86b.d2a248"
            ]
        ]
    },
    {
        "id": "9c53256e.46bae8",
        "type": "ui_text",
        "z": "393f3a42.2de4e6",
        "group": "de37c9db.acf788",
        "order": 3,
        "width": "10",
        "height": "2",
        "name": "",
        "label": "Situazione",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1196.0000305175781,
        "y": 269.00000190734863,
        "wires": []
    },
    {
        "id": "47aa180e.247e38",
        "type": "ui_gauge",
        "z": "393f3a42.2de4e6",
        "name": "",
        "group": "de37c9db.acf788",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "Gradi C°",
        "format": "{{value}}",
        "min": "-50",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1191.99995803833,
        "y": 337.00001335144043,
        "wires": []
    },
    {
        "id": "2ff05577.25224a",
        "type": "ui_gauge",
        "z": "393f3a42.2de4e6",
        "name": "VelocitaVento",
        "group": "de37c9db.acf788",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "compass",
        "title": "Velocità Vento",
        "label": "km/sec",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1189.0000305175781,
        "y": 409.9999942779541,
        "wires": []
    },
    {
        "id": "428afc8f.eec184",
        "type": "csv",
        "z": "393f3a42.2de4e6",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "",
        "multi": "mult",
        "ret": "\\n",
        "temp": "\"city\",\"city_ascii\",\"lat\",\"lng\",\"country\",\"iso2\",\"iso3\",\"admin_name\",\"capital\",\"population\",\"id\"",
        "skip": "0",
        "x": 100.52359008789062,
        "y": 486.7311382293701,
        "wires": [
            [
                "972de016.b63b2",
                "901bf895.502138"
            ]
        ]
    },
    {
        "id": "972de016.b63b2",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "ArrayFromCSV",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 200.36316680908203,
        "y": 593.4196310043335,
        "wires": []
    },
    {
        "id": "1969fae2.c4bf95",
        "type": "switch",
        "z": "393f3a42.2de4e6",
        "name": "CheckCountry",
        "property": "CountryCity",
        "propertyType": "flow",
        "rules": [
            {
                "t": "cont",
                "v": "location.country",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 429.25188064575195,
        "y": 302.9622859954834,
        "wires": [
            [
                "970814ad.392b08"
            ],
            [
                "cc3c9604.d87d78"
            ]
        ]
    },
    {
        "id": "cc3c9604.d87d78",
        "type": "ui_toast",
        "z": "393f3a42.2de4e6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Nazione non esistente",
        "name": "Country error",
        "x": 628.3632125854492,
        "y": 438.6839952468872,
        "wires": [
            []
        ]
    },
    {
        "id": "970814ad.392b08",
        "type": "switch",
        "z": "393f3a42.2de4e6",
        "name": "CheckCity",
        "property": "CountryCity",
        "propertyType": "flow",
        "rules": [
            {
                "t": "cont",
                "v": "location.city",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 609.3679294586182,
        "y": 273.7547197341919,
        "wires": [
            [
                "801f3296.50a04"
            ],
            [
                "fa3c7fd0.9b41c"
            ]
        ]
    },
    {
        "id": "fa3c7fd0.9b41c",
        "type": "ui_toast",
        "z": "393f3a42.2de4e6",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "topic": "Città non esistente",
        "name": "City Error",
        "x": 645.3631973266602,
        "y": 360.7405700683594,
        "wires": [
            []
        ]
    },
    {
        "id": "448e4188.df109",
        "type": "dropbox",
        "z": "393f3a42.2de4e6",
        "dropbox": "",
        "filename": "NazioniCitta.csv",
        "name": "",
        "x": 154.14569854736328,
        "y": 318.02413272857666,
        "wires": [
            [
                "428afc8f.eec184"
            ]
        ]
    },
    {
        "id": "801f3296.50a04",
        "type": "openweathermap",
        "z": "393f3a42.2de4e6",
        "name": "SituazioneMeteo",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "it",
        "x": 735.0000228881836,
        "y": 214.99994468688965,
        "wires": [
            [
                "5661be29.19465",
                "aa6b817f.ece4f",
                "9e262e49.f1fd8",
                "36dbd5b9.2ac22a"
            ]
        ]
    },
    {
        "id": "93886aa9.c47448",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "AFterSave",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 829.2871780395508,
        "y": 49.360586166381836,
        "wires": []
    },
    {
        "id": "fa331059.6a289",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "AfterFunction",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 659.3726654052734,
        "y": 511.4196300506592,
        "wires": []
    },
    {
        "id": "4b49f86f.1ddcb8",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Store Input",
        "rules": [
            {
                "t": "set",
                "p": "TheInput",
                "pt": "flow",
                "to": "location",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 586.3679141998291,
        "y": 129.76886749267578,
        "wires": [
            [
                "93886aa9.c47448",
                "cd09d375.ecb5e"
            ]
        ]
    },
    {
        "id": "8aefd66d.e3c7d8",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "StoreContryCity&ResendInput",
        "rules": [
            {
                "t": "set",
                "p": "CountryCity",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "location",
                "pt": "msg",
                "to": "TheInput",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 322.37261962890625,
        "y": 424.7688636779785,
        "wires": [
            [
                "fa331059.6a289",
                "1969fae2.c4bf95"
            ]
        ]
    },
    {
        "id": "901bf895.502138",
        "type": "json",
        "z": "393f3a42.2de4e6",
        "name": "CSV to JSON",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 311.3679313659668,
        "y": 517.9056644439697,
        "wires": [
            [
                "d6b639f8.b540d8",
                "8aefd66d.e3c7d8"
            ]
        ]
    },
    {
        "id": "d6b639f8.b540d8",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "TheJSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 450.3726692199707,
        "y": 593.3537216186523,
        "wires": []
    },
    {
        "id": "cd09d375.ecb5e",
        "type": "switch",
        "z": "393f3a42.2de4e6",
        "name": "CheckIfAlreadyLoad",
        "property": "CountryCity",
        "propertyType": "flow",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 148.3726348876953,
        "y": 218.40564727783203,
        "wires": [
            [
                "1969fae2.c4bf95"
            ],
            [
                "448e4188.df109"
            ]
        ]
    },
    {
        "id": "de37c9db.acf788",
        "type": "ui_group",
        "z": "",
        "name": "Meteo 1",
        "tab": "6d979c63.f68cc4",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false
    },
    {
        "id": "6d979c63.f68cc4",
        "type": "ui_tab",
        "z": "",
        "name": "Situazione meteo advanced (esercizio 2)",
        "icon": "dashboard",
        "order": 3
    }
]