meteo.json
[
    {
        "id": "393f3a42.2de4e6",
        "type": "tab",
        "label": "Meteo (Esercizio 2)",
        "disabled": false,
        "info": ""
    },
    {
        "id": "801f3296.50a04",
        "type": "openweathermap",
        "z": "393f3a42.2de4e6",
        "name": "SituazioneMeteo",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "it",
        "x": 627,
        "y": 251,
        "wires": [
            [
                "5661be29.19465",
                "aa6b817f.ece4f",
                "9e262e49.f1fd8",
                "36dbd5b9.2ac22a"
            ]
        ]
    },
    {
        "id": "983b032c.d0902",
        "type": "ui_form",
        "z": "393f3a42.2de4e6",
        "name": "",
        "label": "Meteo",
        "group": "79d88409.0631cc",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Nazione",
                "value": "country",
                "type": "text",
                "required": true
            },
            {
                "label": "Città",
                "value": "city",
                "type": "text",
                "required": true
            }
        ],
        "formValue": {
            "country": "",
            "city": ""
        },
        "payload": "",
        "submit": "richiedi",
        "cancel": "cancel",
        "topic": "",
        "x": 179,
        "y": 93,
        "wires": [
            [
                "b2b0ea29.4fb0a8",
                "e24ee86b.d2a248"
            ]
        ]
    },
    {
        "id": "b2b0ea29.4fb0a8",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 398,
        "y": 75,
        "wires": []
    },
    {
        "id": "e24ee86b.d2a248",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Rimappa",
        "rules": [
            {
                "t": "set",
                "p": "location.country",
                "pt": "msg",
                "to": "payload.country",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "location.city",
                "pt": "msg",
                "to": "payload.city",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.country",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.city",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 239,
        "wires": [
            [
                "aba5e07e.46c0a",
                "801f3296.50a04"
            ]
        ]
    },
    {
        "id": "aba5e07e.46c0a",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 604,
        "y": 135,
        "wires": []
    },
    {
        "id": "5661be29.19465",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 836,
        "y": 191,
        "wires": []
    },
    {
        "id": "aa6b817f.ece4f",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Descrizione",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.description",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 866,
        "y": 269,
        "wires": [
            [
                "fc9910dc.ff33",
                "9c53256e.46bae8"
            ]
        ]
    },
    {
        "id": "fc9910dc.ff33",
        "type": "debug",
        "z": "393f3a42.2de4e6",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1061,
        "y": 178,
        "wires": []
    },
    {
        "id": "9c53256e.46bae8",
        "type": "ui_text",
        "z": "393f3a42.2de4e6",
        "group": "79d88409.0631cc",
        "order": 3,
        "width": "10",
        "height": "2",
        "name": "",
        "label": "Situazione",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1102,
        "y": 274,
        "wires": []
    },
    {
        "id": "47aa180e.247e38",
        "type": "ui_gauge",
        "z": "393f3a42.2de4e6",
        "name": "",
        "group": "79d88409.0631cc",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "Gradi C°",
        "format": "{{value}}",
        "min": "-50",
        "max": "70",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1104,
        "y": 336,
        "wires": []
    },
    {
        "id": "9e262e49.f1fd8",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 874,
        "y": 337,
        "wires": [
            [
                "47aa180e.247e38"
            ]
        ]
    },
    {
        "id": "2ff05577.25224a",
        "type": "ui_gauge",
        "z": "393f3a42.2de4e6",
        "name": "VelocitaVento",
        "group": "79d88409.0631cc",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "compass",
        "title": "Velocità Vento",
        "label": "km/sec",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1115,
        "y": 398,
        "wires": []
    },
    {
        "id": "36dbd5b9.2ac22a",
        "type": "change",
        "z": "393f3a42.2de4e6",
        "name": "Vento",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.windspeed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 885,
        "y": 409,
        "wires": [
            [
                "2ff05577.25224a"
            ]
        ]
    },
    {
        "id": "79d88409.0631cc",
        "type": "ui_group",
        "z": "",
        "name": "Meteo",
        "tab": "1de268f4.608097",
        "order": 1,
        "disp": true,
        "width": "30",
        "collapse": false
    },
    {
        "id": "1de268f4.608097",
        "type": "ui_tab",
        "z": "",
        "name": "Situazione meteo (Esercizio 2)",
        "icon": "dashboard",
        "order": 2
    }
]